.progress-box{
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    background-color: #f3f1e5;
    z-index: 1;
    

    @include pad(){
        width: 48px;
        height: 48px;
        font-size: 20px;
    }
    
}
.progress-box-active {
    background-color: #000;
    color: #FBFF22;
  }
.pay-list::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;    
    background-color: #000;
    top: 30%;
    left:5%;
    right:5%
}
.sparkler-lg{
    width: 32px;
    height: 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.btn-hover:hover{
    color:#000;
    background-color: #FBFF22;
}
