<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/icofont/icofont.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>結帳頁</title>
    
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!--進度條-->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <div class="position-relative m-4">
                    <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-primary w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mb-2">
                    <div class="position-absolute top-0 start-0 translate-middle d-flex justify-content-center align-items-center progress-box progress-box-active">1</div>
                    <p class="mt-5 position-absolute top-100 start-0 translate-middle fw-bold">訂單確認</p>
                    </div>
                    <div class="mb-2">
                    <div class="position-absolute top-0 start-50 translate-middle d-flex justify-content-center align-items-center progress-box ">2</div>
                    <p class="mt-5 position-absolute top-100 start-50 translate-middle fw-bold">訂單付款</p>
                    </div>
                    <div class="mb-2">
                    <div class="position-absolute top-0 start-100 translate-middle  d-flex justify-content-center align-items-center progress-box">3</div>
                    <p class="mt-5 position-absolute top-100 start-100 translate-middle fw-bold">訂購結果</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--title-->
    <div class="container mt-6 mb-4">
        <h1 class="fw-bold text-center">返老還童-制服聯誼</h1>
    </div>
    <!--form-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <table class="table border-top">
                    
                    <tbody>
                    <tr>
                        <th scope="row">日期</th>
                        <td class="font-NotoSans text-end">2023/5/12</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">票種</th>
                        <td  class="font-NotoSans text-end" >改頭換面票(含大改造)</td>
                    
                    </tr>
                    <tr>
                        <th scope="row">票價</th>
                        <td  class="font-NotoSans text-end" colspan="2">$8000</td>
                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--聯絡人-->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex flex-column ">
                <div class="d-flex flex-column justify-content-center mb-2">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="sparkler-lg mb-2">
                    <h4 class="fw-bold text-center">聯絡人資訊</h4>
                </div>
                <form action="" class="font-NotoSans mb-2">
                    <div class="mb-2">
                        <label for="name" class="form-label">聯絡人姓名</label>
                        <input type="text" id="name" class="form-control border border-primary border-2" placeholder="請輸入聯絡人名稱">
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">email</label>
                        <input type="email" id="email" class="form-control  border border-primary border-2" placeholder="請輸入Email">
                    </div>
                    <div class="mb-2">
                        <label for="phone" class="form-label">手機號碼</label>
                        <input type="number" id="phone" class="form-control  border border-primary border-2" placeholder="請輸入手機號碼">
                    </div>
                    

                </form>
                <div class="col-md-4 me-auto ms-auto mb-2">
                    <button href="#" class="btn bg-dark btn-link d-flex align-items-center py-1 justify-content-center w-100 font-NotoSans">確認表單資料
                        <span class="material-icons">
                        keyboard_double_arrow_right
                        </span>
                        </button>
                </div>
                <a href="#" class="font-NotoSans fs-18 text-center mb-2">取消購票</a>
            </div>
        </div>
    </div>



    <%- include('./layout/footer'); -%>
   
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script src="/all.js"></script>
  </body>
</html>